NODE_ENV=development
PORT=4000

MONGO_URI=mongodb+srv://<user>:<password>@cluster0.pbytysa.mongodb.net/legalease?appName=Cluster0

JWT_SECRET=<your-jwt-secret-min-8-chars>

BACKEND_URL=http://localhost:4000
CLIENT_URL=http://localhost:3000

ADMIN_EMAIL=admin@legalease.com
ADMIN_PASSWORD=<your-admin-password>
