MONGO_URI=mongodb+srv://<user>:<password>@cluster0.pbytysa.mongodb.net/?appName=Cluster0
PORT=4000
JWT_SECRET=<your-jwt-secret>
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
CLIENT_URL=http://localhost:3000
