MONGO_URI=mongodb+srv://<user>:<password>@cluster0.pbytysa.mongodb.net/legalease?appName=Cluster0
PORT=5000
JWT_SECRET=<your-jwt-secret>
GOOGLE_CLIENT_ID=<your-google-client-id>
GOOGLE_CLIENT_SECRET=<your-google-client-secret>
BACKEND_URL=http://localhost:5000
CLIENT_URL=http://localhost:3000
ADMIN_EMAIL=admin@legalease.com
ADMIN_PASSWORD=<your-admin-password>
